@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(208 232 237 / 0.49);
    font-weight: 300;
    font-family: "Monserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    color: #6f6f6f;
    text-decoration: none;
    transition: color 500ms ease;
}
a:hover{
    color: #1f1f1f;
}
main {
    flex-grow: 1;
}
.container{
    width: 1258px;
    padding: 20px;
    margin: 0 auto;
}

header.container{
    background-color: rgb(81 125 161 / 0.56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

header > .logo{
    color: rgb(3 14 37 / 0.83);
    font-weight: 700;
    font-size: 28px;
}

header > nav a {
    margin-left: 50px;
    /*margin-bottom: 100px;*/
    text-align: center;
}

.courses{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.courses .course{
    background-color: rgb(12 45 76 / 0.63);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 280px;
    color: white;
}
.courses .course img {
    width: 240px;
    height: 180px;
    object-fit: cover;
}
.courses .course h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.courses .course a{
    display: inline-block;
    padding: 10px 12px;
    border-radius: 5px;
    background-color: rgb(4 10 35 / 0.74);
    color: white;
    transition: transform 500ms ease;
}
.courses .course a:hover{
    transform: scale(1.1);
}
.aside {
    width: 600px;
    padding: 20px;
}

.text-info{
    margin-bottom: 20px;
}
.courses ul {
    width: 98%;
    line-height: 178%;
    margin-left: 7%;
    margin-top: 20px;
    font-weight: 600;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*gap: 20px;*/
}
nav .btn {
    color: rgb(100 116 154 / 0.75);
    text-decoration: none;
    border: none;
    transition: color 500ms ease;
    padding: 8px 10px;
    /*margin: 2px;*/
    background-color: rgb(4 10 35 / 0.74);
    border-radius: 5px;
    margin-left: 50px;
}

nav .btn:hover{
    color: white;
}
.form-section{
    box-sizing: border-box;
    background-color: rgb(188 195 204 / 0.67);
    padding: 40px 30px;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 5%);
    /*width: 70%;*/
}

form textarea{
    display: block;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 0;
    font-size: 14px;
}
form label{
    margin-top: 15px;
    display: inline-block;
    font-weight: 600;
}
form .helptext{
    font-size: 13px;
    display: block;
    color: #5e5e5e;
}

form input {
    font-family: "Monserrat", sans-serif;
    display: block;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid silver;
    margin: 10px 0;
    font-size: 14px;
}

.form-section button{

    padding: 7px 12px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(4 10 35 / 0.74);
    color: rgb(255 255 255 / 0.73);
    transition: transform 500ms ease;
    cursor: pointer;
}
.form-section button:hover{
    transform: scale(1.2);
}
.info-tariffs{
    margin-bottom: 16px;
}

.payment-course{
    display: inline-block;
    padding: 7px 12px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(4 10 35 / 0.74);
    color: rgb(255 255 255 / 0.73);
    transition: transform 500ms ease;
    cursor: pointer;
}

.payment-course:hover{
    transform: scale(1.2);
    color: #a5bce1;
}
hr{
    margin: 10px 0;
}
.image-profile{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
footer{
    flex-shrink: 0;
    margin-top: 100px;
    width: 100%;
    background-color: rgb(81 125 161 / 0.26);
    padding: 16px;
    text-align: center;
}

.errorlist{
    color: #a50606;
    list-style: none;

}