{% extends 'layout.html' %}

{% block main %}
    <div class="courses container">

        <div class="course">
            {% if object.image %}
            <img src="{{ object.image.url }}" alt="{{object.title}}">
            {% else %}
            <img src="/media/default.png" alt="{{object.title}}">
            {% endif %}
            <h3>{{object.title}}</h3>

        </div>
        <div class="aside">
            <h1>Відео урок - {{ lesson.title}}</h1>
            {% if  object.is_free == True or user.profile.account_type == 'full' %}
                <p class="text-info"> {{ lesson.description }}</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ lesson.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            {% else %}
                <p>Необхідно оформити <a href="{% url 'tariffs'%}">підписку</a>!</p>
            {% endif %}
        </div>

        <div class="container">
        <h2>Коментарі</h2>
        {% if user.is_authenticated %}
        <form class="form-section" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Додати коментар</button>
        </form>
        {% else %}
            <p class="info-comm">Щоб залишити коментар,
            <a href="{% url 'user' %}">увійдіть в акаунт</a>.
            </p>
        {% endif %}
            <h3 class="comment-title">Всі коментарі</h3>
        {% for comment in comments %}
        <div class="container comment">
                <img
            src="{{ comment.user.profile.img.url }}"
            alt="{{ comment.user.username }}"
            width="60"
            height="60"
            >
            <div class="comment-content">
            <p>Коментар: {{ comment.message }}</p>
            <p>Автор: <b>{{ comment.user.username }}</b></p>
            </div>
        </div>
        {% empty %}
            <p class="info-comm">Коментарів ще немає.</p>
        {% endfor %}
    </div>
    </div>

{% endblock %}