{% extends "layout.html" %}

{% block title%} Профіль користувача {% endblock %}

{% block main %}
    <div class="form-section container">
        <h2>Профіль користувача</h2>
        <img class="image-profile" src="{{user.profile.img.url}}" alt="{{user.username}}">
        <p>
            <span class="username">@{{user.username}}</span><br>
            {{user.email}}
        </p>
        <form method='POST' enctype="multipart/form-data" class="form-register ">
        {% csrf_token %}
        {{update_user_form }}
        {{profile_form }}
        <button type="submit">Оновити</button>
    </form>
    </div>
    
{% endblock %}